
#page-subscribe {
	.subscribe-form {
		border: 1px solid $red;
		padding: 1.5rem;
		margin: 1rem;
		@include breakpoint (medium) {
			padding: 3rem;
			margin: 0;
		}
		
		p {
			text-align: left;
			font-weight: 500;
		}
	}
	input[type="submit"] {
		padding: 0 2rem;
		text-align: left;
	}
}
