#single-post {
  @include grid-row();
  @include breakpoint (large) {
    margin-top: 3rem;
  }

  .single-content {
    h3 {
      text-align: center;
      padding-bottom: 1rem;
      border-bottom: 1px solid $red;
      margin-bottom: 2rem;
      font-weight: 700;
    }
    ol {
      list-style-position: inside;
    }
    // .entry-content {
    //   img {
    //     @include breakpoint (small only) {
    //       width: 40%;
    //     }
    //     max-width: rem-calc(250);
    //     float: left;
    //     margin-right: 0.85rem;
        
    //   }
    // }
  }
}

.single-nav {
  margin-top: 2rem;
  @include breakpoint (small only) {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  a {
    color: $red;
    &:hover {
      @include transition-all;
      color: darken($red, 15%);
    }
  }
}

.nav-next {
  a {
    float: right;
  }
}

.mp3-player {
  border-top: 1px solid $red;
  border-left: 1px solid $red;
  border-right: 3px solid $black;
  border-bottom: 3px solid $black;
  padding: 1rem 1rem 0.8rem 1rem;
  text-align:center;
  background-color: #D4D3D3;
  @include breakpoint (small only) {
    margin-bottom: 2rem;
  }
  @include breakpoint (medium only) {
    margin: 0rem 1rem 2rem 1rem;
    audio {
      width: 90%;
    }
  }
  @include breakpoint (large) {
    width: 50%;
    margin: 0 auto 1rem auto;
  }
}

/* Arrows */

.slick-slide img {
  //height: 400px;
}
.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 1rem;
    width: 1rem;
    line-height: 0;
    font-size: 1.5rem;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
}

.slick-prev {
    left: -25px;
    [dir="rtl"] & {
        left: auto;
        right: -25px;
    }
}

.slick-next {
    right: -25px;
    [dir="rtl"] & {
        left: -25px;
        right: auto;
    }
}