@mixin transition-all {
  -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@font-face {
  font-family: 'LHFChicago';
  src: url(../../assets/fonts/moxy/LHFChicagoScript.eot); /* IE9 Compat Modes */
  src: url(../../assets/fonts/moxy/LHFChicagoScript.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
       url(../../assets/fonts/moxy/LHFChicagoScript.woff2) format('woff2'), /* Super Modern Browsers */
       url(../../assets/fonts/moxy/LHFChicagoScript.woff) format('woff'), /* Pretty Modern Browsers */
       url(../../assets/fonts/moxy/LHFChicagoScript.ttf)  format('truetype'), /* Safari, Android, iOS */
       url(../../assets/fonts/moxy/LHFChicagoScript.otf) format('otf'),
       url(../../assets/fonts/moxy/LHFChicagoScript.svg#svgFontName) format('svg'); /* Legacy iOS */
}