#footer-container {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	@include breakpoint (medium) {
		margin-top: rem-calc(60);
	}
	background-color: $gray;
	#footer {
		@include grid-row();
		padding: rem-calc(15) 0;
		@include breakpoint (small only) {
			padding: rem-calc(10) 0;
			.small-top-footer {
				text-align: center;
				.nav-links {
					text-align:center;
					a {
						color: $white;
						font-size: 1rem;
					}
				}
			}
		}
		.copy {
			@include breakpoint (small only) {
				text-align: center;
				
			}
			p {
				@include breakpoint(small only) {
					font-size: 0.7rem;
				}
				color: $white;
				font-size: 0.9rem;
			}
		}

		.moxy {
			@include breakpoint (small only) {
				text-align: center;
				font-size: 1.1rem;
			}
			a {
				@include breakpoint (medium) {
					float: right;
				}
				font-family: $moxy-font;
				color: $white;
				font-size: 1.3rem;
			}
		}
	}
}
