.menu > li > a {
	padding: 0;
}

.menu .active > a {
	background: transparent;
}

.top-bar {
	@include breakpoint(medium) {
		height: 200px;
		background-image: url(../images/blogheader-1.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-color: transparent;
	}

	.small-header-title {
		height: 150px;
		background-image: url(../images/blogheader-1.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-color: transparent;
	}

	.menu .home {
		@include breakpoint(small only) {
			font-size: 2rem;
			text-align: center;
			display: block;
			a {
				padding-top: 1rem;
			}
		}
		a {
			font-family: $helvetica;
			font-size: 2.5rem;
			font-weight: 600;
		}
	}
	ul {
		background-color: transparent;
		margin: 0;
		li a {
			color: $white;
			text-transform: lowercase;
		}
	}
	.header-nav {
		padding-top: 6rem;
		.top-bar-right {
			padding-top: 2rem;
			ul {
				float: right;
				li {
					padding: 0 1rem;
					@include breakpoint (large) {
						&:hover {
							@include transition-all;
							border-top: 2px solid $white;
							border-bottom: 2px solid $white;
						}
					}
					a {
						font-size: 1.3rem;
						padding: 0.8rem 0;
					}
				}
			}
		}
	}
}

.header-widgets {
	background-color: #9C9C9C;
	@include breakpoint (medium) {
		background-color: $gray;
	}
	padding: 1.75em 0;
	.head-btn {
		color: $white;
		text-transform: lowercase;
		letter-spacing: 1px;
	}
	.textwidget {
		width: 100%;
		text-align: center;
		padding: 0.7rem;
		@include breakpoint (small only) {
			margin-bottom: 0.75rem;
		}
		@include breakpoint (large) {
			border: 1px solid $white;
			&:hover {
				background-color: $red;
			}
		}
	}
	.input-group {
		margin-bottom: 0;
	}
	.input-group-field {
		height: 3rem;
	}
}

input[type="submit"] {
	color: $white;
	background: $red;
	height: 3rem;
	border: 1px solid $white;
	@include breakpoint (large) {
		&:hover {
			@include transition-all;
			background-color: darken($red, 15%);
			color: $white;
		}
	}
}
#s {
	border: 1px solid $white;
}

.social-links {
	margin-bottom: 0.5rem;
	li {
		display: inline-block;
		margin-right: 0.5rem;
		a .fa {
			color: $white;
			font-size: 1.75rem;
			@include breakpoint (large) {
				&:hover {
					@include transition-all;
					color: $red;
				}
			}
		}
	}
}