.home-welcome {
	text-align: center;
	padding: 2rem 0;
	h6 {
		font-family: $ubuntu;
		color: $red;
	}
}

.blog-widgets {
	padding: 1.6rem 0;
	border-top: 1px solid $black;
	border-bottom: 1px solid $black;
	text-align: center;
	margin-bottom: 1rem;
	@include breakpoint (medium) {
		margin-bottom: 2.5rem;
	}
	.widgettitle {
		display: none;
	}
	label {
		text-transform: lowercase;
		letter-spacing: 1px;
		font-size: 1.1rem;
		display: inline-block;
	}
	select {
		width: 60%;
		border: none;
		border: 1px solid $black;
		text-transform: lowercase;
		color: #8E8E8E;
		margin: 0 0 0rem 1rem;
	}
	@include breakpoint (small only) {
		.widget_categories {
			margin-bottom: 1rem;
		}
	}
}

.blog-item {
	padding: 1rem;
	margin-bottom: 2rem;
	@include breakpoint(medium) {
		border: 1px solid $red;
		border-bottom: 2px solid $red;
	}

	h4 a {
		font-weight: bold;
		color: $black;
		text-transform: capitalize;
		@include breakpoint(large) {
			&:hover {
				color: $red;
			}
		}
	}
	p {
		color: $black;
		font-size: 0.9rem;
	}
	hr {
		margin: 1rem auto;
	}
	.post-date {
		color: #8E8E8E;
		font-size: 0.85rem;
	}
	.read-more {
		border: 1px solid $red;
		text-transform: uppercase;
		@include breakpoint (large) {
			&:hover {
				@include transition-all;
				background-color: $red;
				color: $white;
			}
		}
	}
}